/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
html {
  background: #57c057;
}
a {
  color: black;
}
header, footer, section {
  text-align: center;
}
main {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
section {
  padding-bottom: 2rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
